nav {
  width: 100%;
  /* background: #333; */
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
img {
  width: 180px;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

ul li {
  /* display: inline-block; */
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}

.dark-nav {
  background: #212ea0;
  transition: 0.5s;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 830px) {
  nav ul {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -200px;
    background: #212ea0;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    padding-left: 24px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
  }
  .menu-icon {
    display: list-item;
    width: 40px;
    height: auto;
    cursor: pointer;
  }
  .hide-menu-icon {
    right: 0;
  }
}

@media (max-width: 500px) {
  nav ul {
    width: 150px;
    padding-left: 10px;
  }
}
