.testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%);
  padding: 15px;
  width: 50px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  background: #212ea0;
}

.back-btn {
  right: auto;
  left: 40px;
}

.slider {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  height: 100%;
}

.slider-wrapper {
  overflow-x: hidden;
}
@media (max-width: 650px) {
  .back-btn,
  .next-btn {
padding: 15px;  }
}
